In [17]:
import os, cv2
import pandas as pd
import numpy as np

ROWS = 64
COLS = 64
CHANNELS = 3

In [32]:
train_path = r'C:\Users\meirk\Desktop\train\train/'

In [33]:
train_images = [train_path + i for i in os.listdir(train_path)]

In [34]:
def read_image(file_path):
    img = cv2.imread(file_path, cv2.IMREAD_COLOR)
    return cv2.resize(img, (ROWS, COLS))

In [35]:
def prep_data(images):
    m = len(images)
    n_x = ROWS * COLS * CHANNELS
    X = np.ndarray((m, n_x), dtype=np.uint8)
    y = np.zeros((m, 1))

    for i, image_file in enumerate(images):
        image = read_image(image_file)
        X[i, :] = np.squeeze(image.reshape((n_x, 1)))
        if '/dog' in image_file:
            y[i, 0] = 1
        elif '/cat' in image_file:
             y[i, 0] = 1
    return X, y

In [36]:
X, y = prep_data(train_images)

In [37]:
pd.DataFrame(X).head(3)

,0,1,2,3,4,5,6,7,8,9,...,12278,12279,12280,12281,12282,12283,12284,12285,12286,12287
0,90,167,206,96,173,212,101,179,222,106,...,2,0,2,2,0,2,2,0,2,2
1,43,44,40,48,42,39,39,37,33,31,...,66,63,67,85,59,64,80,19,26,39
2,54,45,40,59,45,41,58,47,42,68,...,154,0,169,173,4,192,193,11,175,180